<section class="section-container">
  <h1>Messages Page</h1>
</section>

<section class="section-container"></section>
  <% if (locals.user) { %>

    <% if (locals.errors && locals.errors.hasOwnProperty("message-text")) { %>
      <% locals.errors["message-text"].forEach(msg=> { %>
        <span class="input-error-message">
          <%= msg %>
        </span>
      <% }); %>
    <% }; %>
    <h2>New Message</h2>
    <form action="/messages/new" method="POST">
      <label>
        Title:
        <input type="text" name="message-title" id="message-title">
      </label>
      <label>
        Message:
        <textarea name="message-text" id="message-text"></textarea>
      </label>
      <button type="submit">Post</button>
    </form>

  <% } else { %>

    <h2>Log in to post a message.</h2>
    <a href="/users/log-in">Log in</a>

  <% }; %>
</section>


<section class="section-container">
  <h2>All Messages</h2>
  <% messages.forEach(message => { %>
    <div class="message">
      <h3><%= message.title %></h3>
      <% if (locals.user && locals.user["membership_status"]) { %>
        <p class="message-author">
          <%= message.username %>
          <span class="message-date"><%= locals.dateFormatter.format(Date.parse(message.timestamp)) %></span>
        </p>
      <% } else { %>
        <p>Please log in as a member to view author and date posted.</p>
      <% }; %>
      <p class="message-text"><%= message.text %></p>
    </div>
  <% }); %>
</section>

<%- contentFor('title') %> Messages || The Message Board