<section class="section-container">
  <h1>Users Page</h1>
</section>

<section class="secton-container">
  <h2>All Users</h2>
  <ul class="user-list">
    <% users.forEach((user) => { %>
      <li>
        <h3><%= user.username %></h3>
        <p><%= user["first_name"] %> <%= user["last_name"] %></p>
        <p><%= user.email %></p>
        <form action="/users/<%= user.id %>/delete" method="POST">
          <button>Delete User</button>
        </form>
      </li>
    <% }); %>
  </ul>
</section>

<%- contentFor('title') %> Users || The Message Board